<div class="col-8 m-auto pt-1 px-4">
  <h2 class="py-1" >
    <strong>
      COMPLAINTS
    </strong></h2>
</div>

<div class="container col-8 my-2 " >
  <form [formGroup]="complaintform"  (ngSubmit)="onSubmit()" >

    <div>
      <label for="fname">Name</label>
      <input type="text" id="fname" required class="form-control" formControlName="firstname"  placeholder="Your name..">
      <span *ngIf="!complaintform.get('firstname').valid && complaintform.get('firstname').touched" class="error-block">
        Please provide name
      </span>

    </div>

    <div>
      <label for="lname">Email</label>
      <input type="text" id="lname"  required class="form-control" formControlName="email" placeholder="Your Email..">
      <span *ngIf="!complaintform.get('email').valid && complaintform.get('email').touched" class="error-block">
        Please provide proper email
      </span>
    </div>

    <label for="country">complaintRange</label>
    <select id="country" formControlName="range">
      <option selected="selected"  value="">--Please choose an option--</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option  value="low" >low</option>

    </select>


    <div>
      <label for="subject">Subject</label>
    <textarea id="subject" name="subject" required  class="form-control" formControlName="subject" placeholder="Write something.." style="height:200px"></textarea>
    <span *ngIf="!complaintform.get('subject').valid && complaintform.get('subject').touched" class="error-block">
      Please enter message
    </span>
    </div>

    <button [disabled]="!complaintform.valid" type="submit" class="btn btn-success">send mail</button>

  </form>
  <!-- FormValues:{{complaintform.value|json}}
        FormStatus:{{complaintform.valid}} -->
</div>
