<div >

  <div class="img-top ">
    <img src="../../assets/images/Real-Estate.jpg" style="width: 100%" height="300px" alt="">
  </div>
  <br>
  </div>
  <div class="row col-12">
  <h1 class="py-5 mx-4">Welcome to RealEstate Portal .....</h1>


  <div class="container" style="display: flex">
    <div style="width: 40%;" class="mx-4">
      <p>Houzez is a premium WordPress theme for real estate agents and agencies where modern aesthetics are combined with a tasteful simplicity and where the ease of use is achieved without
        compromise in your ability to customize the design.</p>
    </div>
    <div style="width: 50%;" class="mx-4">
      <p>Houzez is a premium WordPress theme for real estate agents and agencies where modern aesthetics are combined with a tasteful simplicity and where the ease of use is achieved without
        compromise in your ability to customize the design.</p>
    </div>
  </div>
  <div class="container" style="display: flex">
    <div style="width: 40%;" class="mx-4">
      <p>Houzez is a premium WordPress theme for real estate agents and agencies where modern aesthetics are combined with a tasteful simplicity and where the ease of use is achieved without
        compromise in your ability to customize the design.</p>
    </div>
    <div style="width: 50%;" class="mx-4">
      <p>Houzez is a premium WordPress theme for real estate agents and agencies where modern aesthetics are combined with a tasteful simplicity and where the ease of use is achieved without
        compromise in your ability to customize the design.</p>
    </div>
  </div>
  </div>

  <div class="row">
  <div>

  <h1 class="py-5 mx-4">OUR Services to Community</h1>
  </div>

  </div>

  <div class="container-fluid px-0 ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6  col-md-3  pb-5">
          <div class="flip-card mx-3">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/images/house4.jpg" alt="Avatar" style="width:300px;height:300px;">
                <h2 class="py-3">Property Services</h2>
              </div>
              <div class="flip-card-back">
                <h1>Buy Service</h1>
                <p class="px-2">We Enchance Property Service by Providing various Authentic houses to
                  customers .</p>
                <p>Our Serive is Verified</p>
                <button class="btn btn-outline-light bg-opacity-100" routerLink="/add-property">PropertyService</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="flip-card mx-3">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/images/house5.jpg" alt="Avatar" style="width:300px;height:300px;">
                <h2 class="py-3">Financial Services</h2>
              </div>
              <div class="flip-card-back">
                <h1 class="py-3">Sell Service</h1>
                <p class="px-2">Here we Provide the various properties for Selling properties.</p>
                <p>Our Service is Verified</p>
                <button class="btn btn-outline-light bg-opacity-100"  routerLink="/">Buy</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 ">
          <div class="flip-card mx-3">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/images/rental.jpg" alt="Avatar" style="width:300px;height:300px;">
                <h2 class="py-3">Rental Service</h2>
              </div>
              <div class="flip-card-back">
                <h1>Rental Services</h1>
                <p class="px-2">Here we provide the various Rental Houses for Enchancement of customer Requirement</p>
                <p>Our Service is Verified</p>
                <button class="btn btn-outline-light bg-opacity-100" routerLink="/rent-property">Rent</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 ">
          <div class="flip-card mx-3">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/images/Real-Estate.jpg" alt="Avatar" style="width:300px;height:300px;">
                <h2 class="py-3">Customer Services</h2>
              </div>
              <div class="flip-card-back">
                <h1>Customer Service</h1>
                <p>Here we always work for continous Enchancement and upliftment of customer needs.</p>
                <p>Our Vision Your Dreams </p>
                <button class="btn btn-outline-light bg-opacity-100"  routerLink="/about">Complaint</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
