<label>Filter City: </label>
<input [(ngModel)]="city">
<button type="button" (click)="onCityClear()">Clear</button>

<label>Sort by &nbsp;</label>
<select [(ngModel)]='SortbyParam'>
  <option value="city">City</option>
  <option value="price">Price</option>
</select>
<button type="button" (click)="onSortDirection()">
  <i *ngIf="SortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
  <i *ngIf="SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
</button>
<div class="row">
  <div *ngFor="let property of properties|filter:city:'city'|sort:[SortbyParam,SortDirection]" class="shadow-lg col-sm-4 p-3">
    <app-property-card [property]="property" ></app-property-card>
  </div>
</div>


