<div class=" row mx-auto">
  <div class="container rounded-3 mb-4 p-0 m-0 mx-auto">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" style="max-height:400px;width: 100%; margin:0 auto;" alt="Random first slide" />
        </div>
        <!-- <div class="carousel-caption">
          <h3>Joy of having a beautiful house</h3>

        </div> -->
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]"  style="max-height:400px; width: 100%;margin:0 auto;" alt="Random second slide" />
        </div>
        <!-- <div class="carousel-caption">
          <h3>Trusted selling solutions at your convenience</h3>

        </div> -->
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" style="max-height:400px;width: 100%; margin:0 auto;"  alt="Random third slide" />
        </div>
        <!-- <div class="carousel-caption">
          <h3 >Crafted according to your expectations</h3>

        </div> -->
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<div class="container shadow search   m-0  mx-auto my-2">

  <div class="col-sm-12 m-auto p-4 ">
    <div class=" d-flex mx-auto my-auto">
      <div class="col-sm-6 d-flex">
       <input class="form-control me-sm-2 search " [(ngModel)]="city"    placeholder="Search by city">
       <button class="btn  my-2 my-sm-0 pagecolor search" (click)="onCityClear()" type="button">Clear</button>
      </div>


       <div class="col-sm-6  px-2  d-flex ">
         <div mx-auto >
           <button class="button"><h6>Sort By:</h6> </button>
         </div>
         <select [(ngModel)]='SortbyParam'  class=" form-select mx-2 search" data-style="btn-success">

            <option class="pagecolor "  value="city">City</option>
            <option   class="pagecolor " value="price">Price</option>

         </select>
          <button class="button1 " type="button px-2 mx-2 " style="width:60px ;" (click)="onSortDirection()">
            <i *ngIf="SortDirection==='asc'" class="fas fa-arrow-down"></i>
            <i *ngIf="SortDirection==='desc'" class="fas fa-arrow-up"></i>
          </button>
       </div>

     </div>
  </div>

</div>




<div class="container shadow rounded-3 m-0  search mx-auto p-3" style="background-color: #fff">
  <div class="row">
    <div *ngFor="let property of properties|filter:city:'city'|sort:[SortbyParam,SortDirection]" class="col-sm-4 p-3">
      <app-property-card [property]="property" ></app-property-card>
    </div>
  </div>

</div >









