  <!-- <div class="container mx-auto m-5" >
    <div class="col-sm-6 px-5 my-5 m-auto">

      <dl class="row">

        <dt class="col-md-2 col-lg-2 col-sm-2">
            Name:
        </dt>
        <dd class="col-md-4 col-lg-4 col-sm-4">
      {{user.userName}}
    </dd>
        <hr/>

        <dt class="col-md-2 col-lg-2 col-sm-2">
           E-mail:
        </dt>
        <dd class="col-md-4 col-lg-4 col-sm-4 text-decoration-none">
           {{user.email}}
        </dd>
        <hr/>
        <dt class="col-md-2 col-lg-2 col-sm-2">
          Contact:
       </dt>
       <dd class="col-md-4 col-lg-4 col-sm-4 text-decoration-none">
          {{user.mobile}}
       </dd>
    </dl>
    </div>
  </div> -->
<div class="container">
  <h1 style="color: #952a2a; text-align: center;" class="my-3">
    <strong >
      Profile
    </strong></h1>

  <div class="card">
    <img src="assets/images/User.png"alt="John" style="width:100%">
    <h1 class="font">{{user.userName}}</h1>
    <p class="title"><i class="fas fa-address-book mx-2"></i>{{user.mobile}}</p>
    <p class="title"><i class="fas fa-envelope mx-2"></i>{{user.email}}</p>
  </div>

</div>

