
    <div class="card ">
      <div class="card-img-wrapper">
        <img *ngIf="property.Image" class="card-img-top" src="../../assets/images/{{property.Image}}" alt="House" >
        <img *ngIf="!property.Image" class="card-img-top" src="../../assets/images/house1.jpg" alt="House" >
        <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
          <li class="list-inline-item">
            <button class="btn btn-outline-secondary" routerLink="/property-detail/{{property.Id}}"><i class="bi bi-pen"></i></button>
          </li >
          <li class="list-inline-item">
            <button class="btn btn-outline-dark"  ><i class="bi bi-person-lines-fill"></i></button>
          </li>
          <li class="list-inline-item">
            <button [hidden]="status"  class="btn btn-outline-danger"  routerLinkActive="active" routerLink="/maps/{{property.City}}"><i class="bi bi-geo-alt"></i></button>
          </li>
        </ul>
      </div>

      <div class="card-body p-1">
        <h1 class="mb-0"> {{property.BHK}} BHK {{property.PType}}  <button (click)="Wishdata()" routerLink="/wishlist" class="btn fav" ><i class="bi bi-heart"></i></button></h1>

        in {{property.Name}}
        <span *ngIf="property.Name">,</span>
        {{property.City}}

        <h6  class="mt-2">{{property.FType}}
        <span *ngIf="property.FType !== 'Unfurnished'">Furnished</span> | Ready to Move</h6>

        <hr class="mt-0 mb-2">

        <h6 class="mb-0">Price: <span>{{property.Price}}
           <select  class="btn btn-outline-dark  " #teams (change)="onSelected(teams.value)"id="country" #range name="range">
          <option class="btn btn-outline-primary" >INR</option>
          <option >USD</option>
        </select></span> |
          Area:  <span>{{property.BuiltArea}} Sq Ft </span> </h6>
      </div>
    </div>




