<!-- <div class="m-4">
  <div  style="border: 20px; ">
    <h1  style=" text-align: center; " class="pagecolor my-4">
      The property location is {{address2}}
    </h1>
  </div>
</div> -->

<div class="card">
  <div class="card-body mx-5">
    <div class="mx-5">
      <google-map  height="400px"
      width="98%"
      [center]="center"
      [zoom]="zoom"
      [center]=""
      (mapClick)="moveMap($event)"
      (mapMousemove)="move($event)"
      (mapClick)="addMarker($event)">

      <map-marker *ngFor="let markerPosition of markerPositions"
                  [position]="markerPosition"
                  [options]="markerOptions">

                </map-marker>
    </google-map>
    </div>
  </div>
</div>
<div class="card-body">

</div>



<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6FFVGq29kQZws-OzhuCYwcSdirU3tjWI&callback=initMap">
</script>
